.logo-container {
  background-color: #001529;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo {
  margin: 0 0 0 15px;
}
.logo a {
  color: white;
}

.hidden {
  display: none;
}
.delete-btn {
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.6em;
  position: absolute;
  right: 7px;
  top: 2px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.brewery-card {
  min-height: 300px !important;
}
.brewery-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.brewery-title {
  width: 70%;
}

.brewery-image-container .img {
  width: 100px;
  height: 100px;
}
.brewery-card p {
  color: black;
  margin: 10px 0px !important;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-name {
  margin-left: 10px;
}
